@font-face {
  font-family: Mon;
  src: url("FONTS/Montserrat-Regular.ttf");
}
button {
  cursor: pointer;
}
body {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

main {
  position: relative;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  /* main genişliği %70 olduğu için -50 transX 35 lik kayma oluşturuyor.  */
  margin: 35px 0;
  display: grid;
  grid-template-columns: 50% 50%;
  /* grid yöntemiyle maini 2 stuna böldük. */
}
#checkout-title {
  font-family: Mon, Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 15px 0;
}
main form {
  /* display: none; */
  margin-right: 150px;
  position: relative;
  width: 80%;
}
.data-form {
  font-family: Mon;
  position: relative;
  display: block;
  margin-bottom: 50px;
}
.data-form h1 {
  font-size: 18px;
  color: #333;
  margin: 15px 0;
}
.data-form .campo {
  margin: 10px 0;
}
.data-form .campo label {
  font-size: 12px;
  color: #4f4f4f;
  margin: 10px 0;
  position: relative;
  display: block;
}
.data-form .campo .input-field {
  position: relative;
}
.data-form .campo .input-field input {
  border: 1px solid #828282;
  padding: 8px 5px 8px 35px;
  color: #828282;
  font-size: 14px;
  border-radius: 5px;
  width: 100%;
}
.data-form .campo .input-field i {
  position: absolute;
  color: #828282;
  font-size: 16px;
  top: 50%;
  transform: translateY(-50%);
  left: 3%;
}
#shipping-address {
  margin-top: 50px;
}
#country-field {
  display: inline-block;
  margin-right: 2%;
}
#postal-code-field {
  display: inline-block;
  /* width: auto; */
}
#country-field div select {
  border: none;
  padding: 8px 5px 8px 35px;
  border-radius: 5px;
  border: 1px solid #828282;
}
#user-reminder {
  display: inline-block;
  margin-right: 10px;
}
#user-reminder ~ label {
  /* user-reminder id'sinden sonra gelen bütün label demiş olduk. yani yan yana olan tüm elemanlar.*/
  display: inline-block;
  /* margin-top: -10px; */
}
#btn-submit {
  width: 20%;
  padding: 14px 0;
  border-radius: 10px;
  background-color: #e6530ffd;
  color: #fff;
  font-weight: 600;
  text-align: center;
  border: none;
  position: absolute;
  right: 0;
  margin-right: 140px;
  /* form'un genişliğine göre sağa yaslayınca ortalamadığı için -100 sağa kaydırdık. */
  transition: all 0.3s;
}
#btn-submit:hover {
  transform: scale(105%);
}
#products-preview {
  position: relative;
}
#product-painel {
  /* position: absolute; */
  width: 100%;

  border-radius: 10px;
  background-color: #eeeeee;
  padding: 10px 15px;
  /* display: flex;
  flex-wrap: wrap; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
#product-painel .product {
  /* position: relative; */
  width: 100%;
  display: flex;
  margin: 10px 0;
}
.product img {
  width: 35%;

  border-radius: 10px;
  margin-right: 20px;
  transition: all 0.5s;
}
.product img:hover {
  /* transform: rotate(-90deg); */
  transform: scale(110%);
}
.product-info {
  font-family: Mon, Arial, Helvetica, sans-serif;
  width: 100%;
}
.product-info h2 {
  font-size: 16px;
  color: #4e5150;
  margin: 5px 0;
}
.product-info p {
  font-size: 12px;
  color: #4e5150;
  margin: 5px 0;
}
.product-info p strong {
  color: #f2994a;
  font-size: 16px;
  font-weight: 600;
}
.quantity-controller {
  border-radius: 5px;
  border: 1px solid rgb(136, 136, 136);
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin-top: 25px;
}
.quantity-controller button,
p {
  position: relative;
  display: block;
}
.quantity-controller p {
  line-height: 24px;
}
.quantity-controller button {
  margin: 5px 0;
  border: 0;
  background-color: #e0e0e0;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}
.product-info > button {
  margin: 5px 0;
  border: 0;
  background-color: #b11919;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  color: #eeeeee;
}
.quantity-controller button i {
  font-size: 12px;
}
.buy-detail {
  margin: 1px 0;
  border-top: 1px solid #bdbdbd;
  display: flex;
  position: relative;
  width: 90%;
  font-family: Mon, Arial, Helvetica, sans-serif;
}
.buy-detail p {
  display: block;
  width: 50%;
}
.buy-detail p:nth-child(2) {
  text-align: right;
}
/* yukardaki ile aşağıdaki aynı işi yapıyor. */
/* .asd {
  text-align: right;
} */
#shipping {
  /* margin-top: 10px; */
}
.line-through {
  text-decoration: line-through;
}

@media only screen and (max-width: 820px) {
  main {
    grid-template-columns: 100%;
    width: 90%;
    grid-template-rows: 780px 1fr;
    grid-template-areas: "top" "bottom";
  }
  main form {
    width: 90% !important;
    left: 0;
    transform: unset;
    margin-right: 0 !important;
  }
  form {
    grid-area: bottom;
  }
  #products-preview {
    width: 100%;
    grid-area: top;
  }
  #product-painel {
    padding: 0;
  }
  #btn-submit {
    width: 50%;
    left: 50%;
    transform: translateX(-45%);
  }
  #postal-code-field {
    width: 100%;
  }
  .product {
    padding: 0 15px;
  }
  .buy-detail {
    left: 50%;
    transform: translateX(-50%);
  }
  .product-info h2 {
    font-size: 0.9rem;
  }
}
