footer {
  $dark: 2;
  p {
    @if $dark == 1 {
      background-color: antiquewhite;
    } @else if $dark == 2 {
      background-color: aqua;
    } @else {
      background-color: tomato;
    }
  }
  .social-icons {
    display: flex;
    height: 10rem;
    $textColor: #990000, #55004e, #0fa8a1, #121456, #64c217;

    @for $i from 1 through 5 {
      .social#{$i} {
        width: 20%;
        background-color: lighten(rgba(27, 130, 219, 0.89), $i * 5);
        font-size: $i * 1rem;
        color: nth($textColor, $i);
      }
    }
  }
}
